@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --base-color: #f8fedf;
    --primary-color: #c0d185;
    --secundary-color: #FEFAE0;
    --tertiary-color: #8d9576;
    --primary-text-color: #3f4236;
    --secundary-text-color:#4c523c;
    --primary-pointer-shadow-color: #a4b962;
    --secundary-pointer-shadow-color: #CCD5AE;
    --today-color: #D4A373;
}

.darkmode{
    --base-color: #353839;
    --primary-color: #1e1f1f;
    --secundary-color: #424242;
    --tertiary-color: #242424;
    --primary-text-color: #f9ecec;
    --secundary-text-color:#e7f9f9;
    --primary-pointer-shadow-color: #5c5c5c;
    --secundary-pointer-shadow-color: #686868;
    --today-color: #a8a8a8;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Verdana, sans-serif;
}

body {
    margin: 0;
    display: flex;
    height: 100vh;
    background-color: var(--base-color);
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

/* Sidebar */
.sidebar {
    width: 20%;
    background-color:var(--primary-color);
    color: var(--secundary-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 18px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    width: 100%;
    text-align: left;
}

.sidebar li {
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sidebar li.active, .sidebar li:hover {
    background-color: var(--primary-pointer-shadow-color);
}

/* Contenido principal */
.main-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}

/* Cabecera con temas */
.header {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin-bottom: 2px;
}

/*Cambio de color a dark mode*/
#theme-switch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
}
#theme-switch svg{
    fill: var(--secundary-color);
}
#theme-switch svg:last-child{
    display: none;
}
.darkmode #theme-switch svg:first-child{
    display: none;
}
.darkmode #theme-switch svg:last-child{
    display: block;
}

.icon, .add {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon input, .add input {
    flex: 1;
    padding: 10px;
    border: 2px solid var(--primary-color); 
    border-radius: 5px;
}

.search-button, .add-button {
    padding: 4px 10px;
    border: none;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: var(--base-color);
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.search-button:hover, .add-button:hover {
    background-color: var(--primary-pointer-shadow-color);
}

/* Calendario */
.wrapper { 
    width: 100%; 
    background: var(--secundary-color); 
    border-radius: 15px; 
    box-shadow: 0 15px 40px var(--tertiary-color);
    margin-top: 15px; 
}

.wrapper header { 
    display: flex; 
    align-items: center; 
    padding: 20px 30px 10px; 
    justify-content: space-between; 
}

.current-date { 
    color: var(--primary-text-color);
    cursor: default; 
    font-size: 1.45rem; 
    font-weight: 450; 
}

.icons { 
    display: flex; 
}

.icons span { 
    height: 38px; width: 38px; 
    margin: 0 1px; 
    cursor: pointer; 
    color: var(--tertiary-color); 
    text-align: center; 
    line-height: 38px; 
    font-size: 2rem; 
    user-select: none; 
    border-radius: 50%; 
    transition: 0.1s; 
}

.icons span:hover { 
    color: var(--base-color); 
    background: var(--secundary-pointer-shadow-color); 
}

.calendar { 
    padding: 15px; 
}

.calendar ul { 
    display: flex; 
    flex-wrap: wrap; 
    list-style: none; 
    text-align: center; 
}

.calendar li { 
    color: var(--secundary-text-color); 
    width: calc(95% / 7); 
    font-size: 1.1rem; 
    cursor: default; 
}

.calendar .weeks li { 
    font-weight: 500; 
}

.calendar .days { 
    margin-bottom: 20px; 
}

.calendar .days li { 
    z-index: 1; 
    cursor: pointer; 
    position: relative; 
    margin-top: 23px; 
    font-weight: 440; 
}

.days li.inactive { 
    color: var(--tertiary-color); 
}

.days li.active { 
    color: var(--base-color); 
} 

.days li::before { 
    position: absolute; 
    content: ""; 
    left: 50%; 
    top: 50%; 
    height: 40px; 
    width: 40px; 
    z-index: -1; 
    border-radius: 50%; 
    transform: translate(-50%, -50%); 
}

.days li.active::before { 
    background: var(--today-color); 
} 

.days li:not(.active):hover::before { 
    background: var(--secundary-pointer-shadow-color); 
}

/* Día seleccionado */
.days .selected {
    background-color: #f0f8ff;
    border: 2px solid #1e90ff;
    border-radius: 5px;
    padding: 5px;
}

/* Estilo de las tareas */
.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f8ff;
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 5px;
    font-size: 0.9rem;
    color: #1e90ff;
}

.task .delete-task {
    background-color: #ff4d4d;
    border: none;
    color: white;
    padding: 3px 7px;
    font-size: 0.8rem;
    border-radius: 3px;
    cursor: pointer;
}

.task .delete-task:hover {
    background-color: #e60000;
}


#delete-task-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
}

#delete-task-button:hover {
    background-color: #d32f2f;
}

/* Ocultar todas las secciones por defecto */
.tab-content {
    display: none;
}

/* Mostrar la sección activa */
.tab-content.active {
    display: block;
}

/* Mostrar el Dashboard por defecto */
#dashboard {
    display: block;
}

/* Estilo para días con eventos */
.has-event {
    text-decoration: underline;
    text-decoration-color: red; /* Color de subrayado rojo */
}

#tasks-container {
    display: flex;
    flex-direction: column;
    max-height: 80vh; /* Ajusta el tamaño máximo del contenedor de tareas */
    overflow-y: auto; 
}

#tasks-container > div {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
}

.delete-button {
    float: right;
    margin-left: 10px;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.delete-button:hover {
    background-color: darkred;
}

.week-task {
    background-color: #f0f0f0;
    border-left: 4px solid #0078d4; /* Color de borde */
    padding: 8px;
    margin-bottom: 5px;
}

/* Formato para holidays*/
#holidays-list {
    margin: 0;
    padding: 0;
}

#holidays-list h2 {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5em;
}

#holidays-list ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

#holidays-list ul li {
    padding: 8px;
    margin: 5px 0;
    background-color: var(--primary-light-color);
    color: var(--secundary-text-color);
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

#holidays-list ul li:hover {
    background-color: var(--primary-hover-color);
}